h2,
h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: $headColor;
    text-decoration: underline;
    

}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: $headColor;
    text-decoration: underline;
}

nav{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: $headColor;
    ;
}

