%heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: $headColor;
    text-decoration: underline;
}

h2,
h3 {
    @extend %heading;
}

h1 {
    @extend %heading;
    font-size: 30px;
}

nav{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: $headColor;
}
